/* RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023B
  Assessment: Assignment 1
  Author: Nguyen Thanh Tung
  ID: s3979489
  Acknowledgement: https://www.fahasa.com/ ; https://tiki.vn/ ; 
  https://www.amazon.com/ ; https://www.pbookshop.com/ ; https://issuu.com/ ;
  https://www.canva.com/ ; https://www.worldbook.com/ ; https://www.goodreads.com/ ;
  https://www.davidmcraney.com/howmindschangehome ; https://sachngoaingugiare.com/ ;
  https://www.librariusbooks.com/ ; https://www.biblio.com/ ; https://www.ebay.com/ ;
  https://www.hachette.co.uk/ ; https://www.penguin.com.au/ ; https://www.kobo.com/gb/en ;
  https://en.wikipedia.org/wiki/Main_Page ; https://thecornerstonebookshop.com/ ; 
  https://www.thebookshelf.vn/ ; https://fado.vn/ ; https://www.booktopia.com.au/ ;
  https://fontawesome.com/; */

.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Houkago {
    font-size: 3em;
    color: rgb(230, 137, 16);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(Logo/white-cloud-blue-sky_74190-7713-transformed.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#check {
  display: none;
}
h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 20px; 
}

header{padding: 2%}

.logo {
    float: left;
}

.logo img {
    height: 100px;
}

.navbar {
  background-color: ivory;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    float: left;
}

.navbar a {
  color: black;
  text-decoration: none;
  padding: 15px 20px; 
  text-align: center;
  font-size: 30px;
}

.navbar a:hover {
  background-color: goldenrod;
}

 main {
    padding: 20px;
}
.section {
    margin: 20px 0;
    text-decoration: none;
}
      
.title {
        font-size: 2.5em;
        font-weight: normal;
        text-decoration-color: black;
        text-align: center;
        margin-bottom: 20px;
}

.title a{
    text-decoration: none;
    color: black;
}
      
.book {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: aliceblue;
  }
  
  /* On mouse-over, add a deeper shadow */
.book:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
  /* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.image {
    border-radius: 5px 5px 0 0;
}
.books-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-color: black;
}

.book{list-style: none;
}

.book a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: auto;
}

.book img:hover{
transform: scale(1.1)
}

footer{
    padding: 0 2%
}

.bottom ul{
  list-style-type: none;
  background-color: ivory;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.bottom a{
  color: black;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.bottom a:hover{
    background-color: goldenrod;
}

.bottom li{
    float: left
}

.copyright{
  text-align: end;
  font-size: 1em;
  color: burlywood;
}

.hamburger {
    display: none;
  }
  
  @media (max-width: 992px) {
  
    .flex-container {
      flex-direction: column;
      align-items: center;
    }
  
    .left {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      width: 100%;
    }
  
    .middle {
      flex-direction: row;
      width: 70%;
      justify-content: space-around;
      margin: 0;
      margin-bottom: 20px;
    }
  
    .navbar {
      display: none;
    }
  
    .sub-nav {
      display: flex;
      flex-direction: column;
    }
  
    .hamburger {
      padding: 2%;
      position: relative;
      display: flex;
      width: fit-content;
      font-size: 3em;
      justify-content: flex-end;
    }
  
    #check:checked ~ .navbar {
      display: flex;
      flex-direction: column;
  
    }
  
    .author {
      display: flex;
      justify-content: center;
    }
  
    footer {
      padding: 0 2%;
    }
  
    .footer-ul {
      display: flex;
      flex-direction: column;
    }
  
    .copyright {
      display: flex;
      justify-content: center;
    }
  }
 

 
